*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img-container > img {
    height: 350px;
    width: 300px;
}
